@import "header.css";
@import "slider.css";
@import "footer.css";
@import "modal.css";

html, body {
    height: 100%;
    position: relative;
}

@media (max-width: 767px) {
    .footer-001 h3 {
        margin: 35px 0 25px;
    }
    .footer-001 .footer-foot p,
    .footer-001 .footer-foot ul {
        text-align: center;
        line-height: 22px;
        display: block;
    }
    .footer-001 .footer-foot ul {
        margin: 7px 0;
        padding: 0;
    }

    .footer-001 .copyright,
    .footer-001 .social,
    .footer-001 .maker {
        text-align: center;
    }

    .footer-top {
        text-align: center;
    }

    .footer-top .col-xs-12 {
        margin-top: 15px;
    }
}
@media (max-width: 1200px) {
   .header-001 .navbar-nav {
        text-align: center;
    }
    .header-001 .dropdown-menu {
        text-align: center;
    }
    .header-001 .navbar-nav .dropdown-menu{
        background-color: #212121;
        border: none;
    }
    .header-001 .navbar-nav .dropdown-menu:hover{
        color: #fbf6f6;
    }
    .header-001 .category {
        display: block;
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
    }

    .header-001 .category a {
        font-size: 12px;
    }

   .header-001 .caret_rotate {
        display: none;
    }
}


