html, body {
    height: 100%;
    position: relative;
}

.header-001 .navbar-default {
    background-color: #212121;
    border: none;
    margin-bottom: 0;
}

.header-001 .navbar {
    border-radius: 0;
}

.header-001 .navbar-collapse {
    padding: 0;
    overflow: hidden;
}
.navbar-default .navbar-toggle{
    border-color: transparent;
}
.header-001 .navbar-brand {
    font-weight: 800;
    margin-right: 20px;
    color: white;
    font-size: 35px;
    text-transform: uppercase;
    text-shadow: 3px 0px 0px rgba(18, 18, 18, 0.004);
}

.header-001 .navbar-default .navbar-nav > li > a {
    padding-top: 18px;
    padding-bottom: 15px;
    padding-left: 16px;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.6;
}

.header-001 .navbar-default .navbar-nav > li > a:after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    display: block;
    width: 100%;
    height: 6px;
    background-color: #121212;
    opacity: 0;
    z-index: 1000;
}

.header-001 .caret {
    margin-left: 11px;
}

.header-001 .navbar-nav > .open > a,
.header-001 .navbar-nav > li > a:hover,
.header-001 .navbar-nav > .open > a:active {
    background-color: #121212;
}

/*.header-001 .navbar-nav > li > a:hover:after{
    background-color: green;
    opacity: 1;
}*/

.header-001 .navbar-default .navbar-nav > .open > a:after {
    opacity: 1;
}

.header-001 .dropdown-menu {
    padding: 0;
}
.header-001 .dropdown-menu .category {

}
.header-001 .dropdown-menu a {
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 11px;
    padding-right: 0;
}

.header-001 .navbar-nav > .open > a:visited, .header-001 .navbar-nav > .open > a:hover {
    background-color: #121212;
    color: white;
}

.header-001 .navbar-nav .dropdown-menu {
    min-width: 258px;
    top: 113%;
    border: 1px solid #dddddd;
    /*box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.13);*/
    background-color: #ffffff;
    color: #757575;
}

.header-001 .caret_rotate {
    margin-top: 7px;
    padding-right: 2px;
    transform: rotate(-90deg);
    margin-right: 5px;
}

.header-001 .btn-default {
    min-width: 165px;
    padding: 0;
    text-transform: uppercase;
    background-color: #212121;
    font-size: 12px;
    font-weight: 700;
    color: white;
    border: 2px solid #eeeeee;
    border-radius: 3px;
    line-height: 31px;
}

.header-001 .navbar-form {
    margin-right: -17px;
}

.header-001 .navbar-brand:hover {
    color: white;
}

.header-001 .category {
    top: -3px;
    left: 257px;
}
.slider-001 .carousel-control-block .carousel-control {
    background: transparent;
    color: #fff;
    width: 45px;
    height: 45px;
    border: 2px solid #fff;
    border-radius: 50%;
    top: 47%;
    padding: 0 0 0 10px;
    transition: all .3s ease;
    position: absolute;
}

.slider-001 .carousel-control-block .left {
    left: 30px;
    -webkit-transform: translateX(-30px);
    -moz-transform: translateX(-30px);
    -o-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    transform: translateX(-30px);
    -webkit-transition: opacity .5s linear, -webkit-transform .7s cubic-bezier(.56, .48, 0, .99);
    -moz-transition: opacity .5s linear, -moz-transform .7s cubic-bezier(.56, .48, 0, .99);
    -o-transition: opacity .5s linear, -o-transform .7s cubic-bezier(.56, .48, 0, .99);
    -ms-transition: opacity .5s linear, -ms-transform .7s cubic-bezier(.56, .48, 0, .99);
    transition: opacity .5s linear, transform .7s cubic-bezier(.56, .48, 0, .99);
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "alpha(Opacity=0)";
}

.slider-001:hover .carousel-control-block .left {
    -webkit-transform: translateX(-15px);
    -moz-transform: translateX(-15px);
    -o-transform: translateX(-15px);
    -ms-transform: translateX(-15px);
    transform: translateX(-15px);
    opacity: 1;
    -ms-filter: none;
    filter: none;
}

.slider-001 .carousel-control-block .right {
    right: 30px;
    padding-left: 15px;
    -webkit-transform: translateX(30px);
    -moz-transform: translateX(30px);
    -o-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
    -webkit-transition: opacity .5s linear, -webkit-transform .7s cubic-bezier(.56, .48, 0, .99);
    -moz-transition: opacity .5s linear, -moz-transform .7s cubic-bezier(.56, .48, 0, .99);
    -o-transition: opacity .5s linear, -o-transform .7s cubic-bezier(.56, .48, 0, .99);
    -ms-transition: opacity .5s linear, -ms-transform .7s cubic-bezier(.56, .48, 0, .99);
    transition: opacity .5s linear, transform .7s cubic-bezier(.56, .48, 0, .99);
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "alpha(Opacity=0)";
}

.slider-001:hover .carousel-control-block .right {
    -webkit-transform: translateX(15px);
    -moz-transform: translateX(15px);
    -o-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
    opacity: 1;
    -ms-filter: none;
    filter: none;
}

.slider-001 .carousel-control .fa {
    margin-top: -2px;
    font-size: 2.1em;
    font-weight: 100;
    margin-left: -12px;
}

.slider-001 .carousel-control:hover {
    background: transparent;
    color: #d8dcdf;
}

.slider-001 .carousel-indicators {
    position: absolute;
    bottom: 0;
}

.slider-001 .carousel-indicators li, .slider-001 .carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0 5px;
}

.slider-001 h1 {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.slider-001 h2 {
    font-size: 24px;
}

.slider-001 .item {
    background-size: cover;
    height: 600px;
    width: 100%;
}

.carousel-caption {
    right: 10%;
    left: 10%;
    top: 30%;
}

.carousel-caption-buttons .btn {
    background: none;
    font-size: 18px;
    margin: 20px 30px 0 0;
    padding: 10px 40px;
    font-weight: bold;
    border: 2px solid #dddddd;
    color: #ffffff;
}

.carousel-caption-buttons .btn:hover {
    background-color: #4ec67f;
    border-color: #4ec67f;
    color: #ffffff;
    box-shadow: 0px 2px 0px 0px rgba(73, 181, 117, 0);}

.carousel-caption-buttons .btn {

}

.slider-001 .item2 .container {
    position: relative;
}

.slider-001 .item2 .carousel-caption {
    width: 466px;
    text-align: left;
    margin-top: 150px;
    left: auto;
}

.slider-001 .item2 .carousel-caption h2 {
    font-size: 20px;
}

/*footer*/
.footer-001 ul {
    list-style-type: none;
}

.footer-001 h4 {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    color: #212121;
}

footer a {
    color: #424242;
}

.footer-top ul {
    padding-left: 0;
    margin-top: 17px;
}

.footer-top li {
    padding: 5px 1px;
}

.footer-top li i {
    padding-right: 8px;
}

.footer-top .fz-12 a {
    font-size: 12px;
}

.footer-bottom {
    background-color: #e3e3e3;
}

.footer-bottom .icon-social {
    display: inline-block;
    width: 28px;
    height: 28px;
    padding-top: 6px;
    border: 1px solid #b5b5b5;
    border-radius: 50%;
    background-color: #b5b5b5;
    color: #e3e3e3;
    font-size: 0;
    box-sizing: border-box;

}

.footer-bottom .icon-social:hover {
    background-color: #424242;
}

.footer-bottom .icon-social span {
    font-size: 15px;
}

.footer-bottom .copyright p {
    padding-top: 19px;
    font-size: 12px;
}

.footer-bottom .social {
    padding-top: 13px;
}

.footer-bottom .maker p {
    padding-top: 19px;
    font-size: 12px;
}

.modal-dialog {
    width: 420px;
}

.modal-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    border: none;
}

.modal-header {
    border: none;
}

.modal-header h3 {
    text-transform: uppercase;
}

.modal-body {
    padding-top: 0;
    padding-bottom: 0;
}

.modal-body form input, .modal-body form textarea {
    width: 100%;
    padding-left: 14px;
    padding-top: 14px;
    padding-bottom: 14px;
    border: 1px solid #ebebeb;
    border-radius: 5px;
}

.modal-body form div {
    margin-bottom: 15px;
}

.modal-body form div:nth-last-of-type(1) {
    margin-bottom: 0px;
}

.modal-body form textarea {
    resize: none;
}

.modal-footer {
    border: none;
    text-align: left;
}

.modal-footer label {
    width: 335px;
    margin-bottom: 13px;
    vertical-align: top;
    font-size: 12px;
    font-weight: 400;
}

.modal-footer a {
    color: #bdbdbd;
    border-bottom: 1px dashed #bdbdbd;
    font-size: 12px;
    font-weight: 400;
}

.modal-footer a:hover {
    text-decoration: none;
}

.modal-footer .btn {
    width: 100%;
    border: 1px solid #9e9e9e;
    border-radius: 3px;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #616161;
    text-align: center;
}

.error {
    text-align: left;
}

.modal-body .error input, textarea {
    border-color: red;
}

.error-message {
    color: red;
}

@media (max-width: 767px) {
    .footer-001 h3 {
        margin: 35px 0 25px;
    }
    .footer-001 .footer-foot p,
    .footer-001 .footer-foot ul {
        text-align: center;
        line-height: 22px;
        display: block;
    }
    .footer-001 .footer-foot ul {
        margin: 7px 0;
        padding: 0;
    }

    .footer-001 .copyright,
    .footer-001 .social,
    .footer-001 .maker {
        text-align: center;
    }

    .footer-top {
        text-align: center;
    }

    .footer-top .col-xs-12 {
        margin-top: 15px;
    }
}
@media (max-width: 1200px) {
   .header-001 .navbar-nav {
        text-align: center;
    }
    .header-001 .dropdown-menu {
        text-align: center;
    }
    .header-001 .navbar-nav .dropdown-menu{
        background-color: #212121;
        border: none;
    }
    .header-001 .navbar-nav .dropdown-menu:hover{
        color: #fbf6f6;
    }
    .header-001 .category {
        display: block;
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
    }

    .header-001 .category a {
        font-size: 12px;
    }

   .header-001 .caret_rotate {
        display: none;
    }
}


